header{
    width: 100%;
    background-color: var(--color-primary-2);
    padding: 28px 8%;
    top: 0;
    position: sticky.;
    z-index:3;

}
.navbar{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
#nav-logo{
    font-size:24px;
    color:var(--color-primary-6);

}
.nav-list{
    display:flex;
    gap:48px;

}
.nav-item a{
    color:var(--color-nautra-1);
    font-weight:600;

}

.mobile-btn, .mobile-menu{
    display: none;
}

@media screen and (max-width: 870px) {
    .nav-list, .navbar{
        display: none;
    }
    .mobile-btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem ;
        cursor: pointer;
    }
    .mobile-menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mobile-nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 5px;

    }

    .mobile-nav-list .nav-list{
        text-align: center;
    }
}
